{% extends 'base.html.twig' %}
{% block content %}
	<div class="col-md-6 mx-auto mt-5">
		<h2>Nie posiasz wystarczających uprawnień...</h2>
		<img src="{{ asset('build/images/403.jpg') }}" class="img-fluid rounded mx-auto d-block" alt="403"/>
		<a class="btn btn-primary mt-5 mx-auto d-block" href="{{path('app_homepage')}}">
			<i class="fa-solid fa-house"></i>
			Przejdź na stronę domową...
		</a>
	</div>
{% endblock content %}
