<div class="d-xl-inline-flex align-items-center">
	<div class="me-1 fs-6">
		{{ pagerfanta(pager) }}
	</div>
	<div class="me-1">
		<select class="form-select form-select-sm" {{ stimulus_target('pager', 'pagesize') }} {{ stimulus_action('pager', 'parameterChanged') }}>
			<option value="10">10 wierszy</option>
			<option value="30">30 wierszy</option>
			<option value="50">50 wierszy</option>
			<option value="150">150 wierszy</option>
		</select>
	</div>
	<div class="fs-6 text-nowrap">
		<strong>{{totalRows}}</strong>
		wierszy
	</div>
</div>
