<div class="container">
	<div class="row">
		<div class="col small">
			<div class="row">
				<div class="col fw-semibold pe-2 border-bottom">Aktualizacja</div>
				<div class="col text-end border-bottom">{{summary.updated}}</div>
			</div>
		</div>
	</div>
</div>
